<ion-view view-title="Home" hide-nav-bar="true" hide-tabs>
<ion-content has-bouncing="false" class="home">

<div class="padding" style="margin-top: 10px">

<div class="row" style="padding: 0">
<div class="col-75">
<img src="./img/logo.png" class="logo">
</div>
</div>



<div class="row" style="padding: 0">
<div class="col-75">
<div class="main_menu">
 <a href="#/tab/workouts">{{workouts}}</a>
 <a href="#/tab/exercises">{{exercises}}</a>
 <a href="#/tab/diets">{{recipes}}</a>
 <a href="#/tab/blog">{{blog}}</a>
 <a href="#/tab/account">{{account}}</a>
 <a href="#/tab/settings">{{settings}}</a>
<div>
</div>
</div>
</div>

</ion-content>
</ion-view>