<ion-view hide-tabs>
<ion-nav-title ng-bind-html="data.bodypart_title"></ion-nav-title>
<ion-nav-buttons side="left">
<a href="#/tab/bodyparts" class="button button-icon icon ion-ios-arrow-left"></a>
</ion-nav-buttons>
<ion-content has-bouncing="false">

<div class="row flex_wrap">
<div class="col col-50 col-res-33" ng-repeat="item in exercises_bodyparts" ng-if="data.bodypart_id==item.exercises_bodyparts_bodypart_id">
<div class="image_1">
<a href="#/tab/medetails/{{item.id}}">
<img src="{{imagesfolder}}/{{item.exercise_image}}">
<h5 ng-bind-html="item.exercise_title"></h5>
</a>
</div>
</div>
</div>

</ion-content>
</ion-view>
