<ion-view view-title="Splash" hide-nav-bar="true" hide-tabs>
<ion-content has-bouncing="false" class="splash">

<div class="row row-center">
<div class="center_content">

<img src="./img/logo.png" class="logo">

<a href="#/tab/login" class="buttons">{{Login}}</a>
<a href="#/tab/signup" class="buttons">{{JoinNow}}</a>

</div>
</div>

</ion-content>


<!--<ion-footer-bar class="splash-footer">
  
  <div class="row" style="padding:0">
  	<div class="col-50"><a href="">Log In</a></div>
  	<div class="col-50"><a href="">Join Now</a></div>
  </div>

</ion-footer-bar>-->


</ion-view>
