<ion-tabs class="tabs-striped tabs-background-assertive tabs-color-dark" ng-class="{'tabs-item-hide': hideTabs}">

    <!-- HIDDEN TABS -->

    <ion-tab title="Day 1" href="#/tab/day1" hidden="true">
    <ion-nav-view name="tab-day1"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Mon" href="#/tab/day2" hidden="true">
    <ion-nav-view name="tab-day2"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Tue" href="#/tab/day3" hidden="true">
    <ion-nav-view name="tab-day3"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Wed" href="#/tab/day4" hidden="true">
    <ion-nav-view name="tab-day4"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Thu" href="#/tab/day5" hidden="true">
    <ion-nav-view name="tab-day5"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Fri" href="#/tab/day6" hidden="true">
    <ion-nav-view name="tab-day6"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Sat" href="#/tab/day7" hidden="true">
    <ion-nav-view name="tab-day7"></ion-nav-view>
    </ion-tab>

    <ion-tab href="#/tab/detday1" hidden="true">
    <ion-nav-view name="tab-detday1"></ion-nav-view>
    </ion-tab>

    <ion-tab href="#/tab/detday2" hidden="true">
    <ion-nav-view name="tab-detday2"></ion-nav-view>
    </ion-tab>

    <ion-tab href="#/tab/detday3" hidden="true">
    <ion-nav-view name="tab-detday3"></ion-nav-view>
    </ion-tab>

    <ion-tab href="#/tab/detday4" hidden="true">
    <ion-nav-view name="tab-detday4"></ion-nav-view>
    </ion-tab>

    <ion-tab href="#/tab/detday5" hidden="true">
    <ion-nav-view name="tab-detday5"></ion-nav-view>
    </ion-tab>

    <ion-tab href="#/tab/detday6" hidden="true">
    <ion-nav-view name="tab-detday6"></ion-nav-view>
    </ion-tab>

    <ion-tab href="#/tab/detday7" hidden="true">
    <ion-nav-view name="tab-detday7"></ion-nav-view>
    </ion-tab>

    <ion-tab href="#/tab/medetails" hidden="true">
    <ion-nav-view name="tab-medetails"></ion-nav-view>
    </ion-tab>

    <ion-tab title="dcategory" href="#/tab/dcategory" hidden="true">
    <ion-nav-view name="tab-dcategory"></ion-nav-view>
    </ion-tab>

    <ion-tab title="blog" href="#/tab/blog" hidden="true">
    <ion-nav-view name="tab-blog"></ion-nav-view>
    </ion-tab>

    <ion-tab title="post" href="#/tab/post" hidden="true">
    <ion-nav-view name="tab-post"></ion-nav-view>
    </ion-tab>

    <ion-tab title="edit" href="#/tab/edit" hidden="true">
    <ion-nav-view name="tab-edit"></ion-nav-view>
    </ion-tab>

    <ion-tab title="ptag" href="#/tab/ptag" hidden="true">
    <ion-nav-view name="tab-ptag"></ion-nav-view>
    </ion-tab>

    <ion-tab title="workouts" href="#/tab/workouts" hidden="true">
    <ion-nav-view name="tab-workouts"></ion-nav-view>
    </ion-tab>

    <ion-tab title="bodyparts" href="#/tab/bodyparts" hidden="true">
    <ion-nav-view name="tab-bodyparts"></ion-nav-view>
    </ion-tab>

    <ion-tab title="diets" href="#/tab/diets" hidden="true">
    <ion-nav-view name="tab-diets"></ion-nav-view>
    </ion-tab>

    <ion-tab title="recipe" href="#/tab/recipe" hidden="true">
    <ion-nav-view name="tab-recipe"></ion-nav-view>
    </ion-tab>

    <ion-tab title="contact" href="#/tab/contact" hidden="true">
    <ion-nav-view name="tab-contact"></ion-nav-view>
    </ion-tab>

    <ion-tab title="wdetails" href="#/tab/wdetails" hidden="true">
    <ion-nav-view name="tab-wdetails"></ion-nav-view>
    </ion-tab>

    <ion-tab title="details" href="#/tab/details" hidden="true">
    <ion-nav-view name="tab-details"></ion-nav-view>
    </ion-tab>

    <ion-tab title="machine" href="#/tab/machine" hidden="true">
    <ion-nav-view name="tab-machine"></ion-nav-view>
    </ion-tab>

    <ion-tab title="equipments" href="#/tab/equipments" hidden="true">
    <ion-nav-view name="tab-equipments"></ion-nav-view>
    </ion-tab>

    <ion-tab title="muscle" href="#/tab/muscle" hidden="true">
    <ion-nav-view name="tab-muscle"></ion-nav-view>
    </ion-tab>

    <ion-tab title="wgoal" href="#/tab/wgoal" hidden="true">
    <ion-nav-view name="tab-wgoal"></ion-nav-view>
    </ion-tab>

    <ion-tab title="swlevel" href="#/tab/swlevel" hidden="true">
    <ion-nav-view name="tab-swlevel"></ion-nav-view>
    </ion-tab>

    <ion-tab title="selevel" href="#/tab/selevel" hidden="true">
    <ion-nav-view name="tab-selevel"></ion-nav-view>
    </ion-tab>

    <ion-tab title="elevels" href="#/tab/elevels" hidden="true">
    <ion-nav-view name="tab-elevels"></ion-nav-view>
    </ion-tab>

    <ion-tab title="goals" href="#/tab/goals" hidden="true">
    <ion-nav-view name="tab-goals"></ion-nav-view>
    </ion-tab>

    <ion-tab title="wlevels" href="#/tab/wlevels" hidden="true">
    <ion-nav-view name="tab-wlevels"></ion-nav-view>
    </ion-tab>

    <ion-tab title="exercises" href="#/tab/exercises" hidden="true">
    <ion-nav-view name="tab-exercises"></ion-nav-view>
    </ion-tab>

    <ion-tab title="bodyparts" href="#/tab/bodyparts" hidden="true">
    <ion-nav-view name="tab-bodyparts"></ion-nav-view>
    </ion-tab>

    <ion-tab title="splash" href="#/tab/splash" hidden="true">
    <ion-nav-view name="tab-splash"></ion-nav-view>
    </ion-tab>

    <ion-tab icon="ion-android-cloud-outline" title="Home" href="#/tab/home" hidden="true">
    <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="login" href="#/tab/login" hidden="true">
    <ion-nav-view name="tab-login"></ion-nav-view>
    </ion-tab>

    <ion-tab title="signup" href="#/tab/signup" hidden="true">
    <ion-nav-view name="tab-signup"></ion-nav-view>
    </ion-tab>

    <ion-tab title="forget" href="#/tab/forget" hidden="true">
    <ion-nav-view name="tab-forget"></ion-nav-view>
    </ion-tab>

    <ion-tab title="settings" href="#/tab/settings" hidden="true">
    <ion-nav-view name="tab-settings"></ion-nav-view>
    </ion-tab>

    <ion-tab title="account" href="#/tab/account" hidden="true">
    <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>

    <ion-tab title="nointernet" href="#/tab/nointernet" hidden="true">
    <ion-nav-view name="tab-nointernet"></ion-nav-view>
    </ion-tab>

</ion-tabs>
