<ion-view hide-tabs>
<ion-nav-title>{{browseby}}</ion-nav-title>
<ion-nav-buttons side="left">
<a href="#/tab/home" class="button button-icon icon ion-ios-arrow-left"></a>
</ion-nav-buttons>
<ion-content has-bouncing="false" class="workouts">

<div style="height: 100%;">

<a href="#/tab/goals">
<div class="cover" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.90) 90%), url('img/goals.jpg');">
  <div class="cover-content">
    <h1 style="text-decoration: none;">{{goals}}</h1>
    <p>{{goalSub}}</p>
  </div>
</div>
</a>

<a href="#/tab/wlevels">
<div class="cover" style="background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.90) 90%), url('img/levels.jpg');">
  <div class="cover-content">
    <h1>{{levels}}</h1>
    <p>{{levelSub}}</p>
  </div>
</div>
</a>

</div>

</ion-content>
</ion-view>
